/* PADROES */

h1{
	font-size: 24px;
	margin: 10px 0px;
}
p{
	color:#666;
	line-height: 20px;
}
a{
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
p, h1, h2, h3, h4, a{
	text-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
.subtitulo{
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0px 50px;
	color: #ccc;
}
.subsubtitulo{
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	margin: -40px 0px 50px;
	color: #444;
}
.tt1{
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background-image: url("../images/detalhe-branco1.png");
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: -40px;
	margin-bottom: 0px;
}
.tt2{
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background-image: url("../images/detalhe-cinza1.png");
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: -40px;
	margin-bottom: 0px;
}
.tt3{
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background-image: url("../images/detalhe-preto1.png");
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: -40px;
	margin-bottom: 0px;
}
.tt1 i, .tt2 i{
	text-align: center;
	display: block;
	padding-top: 14px;
	color: #4b4b4b;
	width: 100px;
	margin: 0px auto;
	font-size: 18px;
}
.tt3 i{
	text-align: center;
	display: block;
	padding-top: 14px;
	color: #e6e6e6;
	width: 100px;
	margin: 0px auto;
	font-size: 18px;
}

.tt1 i:hover, .tt2 i:hover, .tt3 i:hover{
	color:#05b2f6;
}
.bb1{
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background-image: url("../images/detalhe-branco2.png");
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: 0px;
}








/*PAGINA*/


body{
	background-color: #e6e6e6;
	font-family: 'Roboto', sans-serif;
}
header{
	width: 100%;
	height: 75px;
	padding: 15px 50px;
	position: fixed;
	top: 0;
	z-index: 1000;
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.minilogoon{
	display: block;
	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
#minilogo{
	display: none;
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.minilogooff{
	display: none;
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
header ul{
	float: right;
}

header ul li{
	float: left;
	margin: 0px 20px;
	font-size: 12px;
	line-height: 42px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #666;
}
.menu a{
	color: #fff;

}
.menu a:hover{
	color: #666;

}
.menuicon{
	font-size: 20px !important;
	line-height: 40px !important;
}
.topheader{
	background-color: #fff;
}










/*INDEX*/


.section1{
	min-height: 200px;
	background-color: #fff;
	padding: 40px 100px;
	text-align: center;
}
.me{
/*	float: left;
*/	max-width: 150px;
margin: 20px auto;
}
.me img{
	width:100%;
	border-radius: 100%;
}
.metext{
}
.metext h1{
	text-transform: uppercase;
	margin-top: 0px;
}
.metext p{
	line-height: 24px;
}
.social{
	width: 400px;
	margin: 15px auto 0px;

}
.social li{
	width: 40px;
	height: 40px;
	float: left;
	margin: 13px 10px 0px 0px;
}
.social li img{
	width: 100%;
}

.contato{
	width: 100%;
	min-height: 475px;
	display: block;
}

























.port {
	padding: 0px 20px 0px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.port li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #e6e6e6;
	color: #0493d7;
}

.port figcaption h3 {
	margin: 0;
	padding: 0;
	color: #222;
}

.port figcaption span:before {
	content: '>>';
}

.port figcaption a {
	margin-top: 20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #222;
	color: #fff;
}


/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 115px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}






























.casulobg{
	background-image: url(../images/casulo.gif);
	background-size: cover;
	background-position: center;
}
.casulo{
	width: 100%;
	height: 300px;
	background-color: rgba(5,178,246,.8);
	padding: 85px 100px;
}
.casulo h1{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}
.casulo h2{
    background-color: #fff;
    padding: 15px;
    font-size: 20px !important;
    line-height: 24px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    border-radius: 3px;
}
.casulo .hsContent{
	text-align: left !important;
}
.section2{
	min-height: 200px;
	padding: 40px 100px;
	margin-bottom: 40px;
}
.section2 .row{
	margin-bottom: 10px;
}
.section2 .row h1{
	font-size: 1.2em;
	float: left;
	margin-top: 26	px;
	margin-left: 10px;
	line-height: 22px;
}
.section2 p{
	text-align: justify;
}
.section2 img{
	max-width: 80px;
	float: left;
}

.section3{
	max-width: 100%;
	background-color: #222;
	min-height: 200px;
	padding: 40px 100px;
	margin-bottom: 0px;
	color:#ccc;
}
.section3 h1{
	color: #444;
}
.section3 ul{

}
.section3 ul li{
	background-color: #333;
	padding: 0px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	border-radius: 3px;
	width: 24%;
	margin: .5%;
	float: left;
}
.tecnobg{
	background-image: url(../images/bgtec.gif);
	background-size: cover;
	background-position: center;
	margin: 0px 0px;
}
.tecno{
	width: 100%;
	background-color: rgba(5,178,246,.95);
	padding: 85px 100px;
}
.tecno h1{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}
.tecno h2{
	background-color: #fff;
	padding: 15px;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	display: inline-block;
	border-radius: 3px;
}
.tecno p{
	padding: 15px 0px;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: 400;
	display: inline-block;
	color:#fff;

}

.publicbg{
	background-image: url(../images/bgpublic.gif);
	background-size: cover;
	background-position: center;
	margin: 0px 0px;
}
.public{
	width: 100%;
	background-color: rgba(4,147,215,.95);
	padding: 85px 100px;
}
.public h2{
    background-color: #fff;
    padding: 15px;
    font-size: 20px !important;
    line-height: 24px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    border-radius: 3px;
}
.public .hsContent{
	text-align: left !important;
}


.public h1{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}
.public p{
	padding: 15px 0px;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: 400;
	text-align: justify;
	display: inline-block;
	color:#333333 !important;
	width: 450px !important;

}










/*PORTFOLIO PAGE*/
.portview{
    background-color: #fff;
    max-width: 90%;
    margin: -125px auto 0;
    padding: 0px;
}
.portview img{
	max-width: 100% !important;
	height: auto;
}
.maisport{
    background-color: #fff;
    max-width: 90%;
    margin: 25px auto;
    padding: 20px;
}
.maisport .row img{
	max-width: 100%;
	height: auto;
}
.fixheader{
	position: absolute;

}
.fixheader img{
	display: block !important;
	width: auto;
	height: 100%;
	float: left;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../images/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../images/bcg_slide-1.jpg')}

/* Slide 2 */
#slide-2 .bcg {
	background: none; 
	min-height: 310px; 
	text-align: center; 
	width: 90%;
	margin: -155px auto 0px;
}

/* Slide 3 */
#slide-3 .bcg {
	background: none; 
	min-height: 310px; 
	text-align: center; 
	width: 90%;
	margin: -155px auto 0px;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0;
	text-align: center
}
#slide-1 h2{
	margin: -150px auto 30px;
	text-transform: uppercase;
}
#slide-1 p{
}
#slide-1 span{
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	font-weight: 100;
}
.hsContent h2,
.copy h2 {
	color: #232323;
	font-size: 45px;
	line-height: 48px;
	margin-bottom: 12px;
}
.hsContent p {
	width: 400px;
	margin: 0 auto;
	color: #000;
}
.hsContent a {
	color: #b2b2b2;
	text-decoration: underline;
}
.bgBlack {
	background-color: rgba(0,0,0,0.75);
	padding: 3px 10px;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

 .ir {
 	background-color: transparent;
 	border: 0;
 	overflow: hidden;
 	/* IE 6/7 fallback */
 	*text-indent: -9999px;
 }

 .ir:before {
 	content: "";
 	display: block;
 	width: 0;
 	height: 150%;
 }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
 	display: none !important;
 	visibility: hidden;
 }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
 	border: 0;
 	clip: rect(0 0 0 0);
 	height: 1px;
 	margin: -1px;
 	overflow: hidden;
 	padding: 0;
 	position: absolute;
 	width: 1px;
 }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
 	clip: auto;
 	height: auto;
 	margin: 0;
 	overflow: visible;
 	position: static;
 	width: auto;
 }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

 .invisible {
 	visibility: hidden;
 }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .clearfix:after {
 	clear: both;
 }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
 	*zoom: 1;
 }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
   	/* Style adjustments for viewports that meet the condition */
   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {
   	/* Style adjustments for high resolution devices */
   }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

   @media print {
   	* {
   		background: transparent !important;
   		color: #000 !important; /* Black prints faster: h5bp.com/s */
   		box-shadow: none !important;
   		text-shadow: none !important;
   	}

   	a,
   	a:visited {
   		text-decoration: underline;
   	}

   	a[href]:after {
   		content: " (" attr(href) ")";
   	}

   	abbr[title]:after {
   		content: " (" attr(title) ")";
   	}

    /*
     * Don't show links for images, or javascript/internal links
     */

     .ir a:after,
     a[href^="javascript:"]:after,
     a[href^="#"]:after {
     	content: "";
     }

     pre,
     blockquote {
     	border: 1px solid #999;
     	page-break-inside: avoid;
     }

     thead {
     	display: table-header-group; /* h5bp.com/t */
     }

     tr,
     img {
     	page-break-inside: avoid;
     }

     img {
     	max-width: 100% !important;
     }

     @page {
     	margin: 0.5cm;
     }

     p,
     h2,
     h3 {
     	orphans: 3;
     	widows: 3;
     }

     h2,
     h3 {
     	page-break-after: avoid;
     }
 }
